/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/

.entry {
	margin-bottom: rem-calc(48);

	&:last-of-type {
		margin-bottom: 0;
	}
}

.comments-link::before {
	margin: 0 4px;
	content: "–";
}

.entry-content,
.entry-summary {
	@include clearfix;
}

.entry-footer {
	p {
		margin-bottom: 0;
	}
}

.edit-link {
	margin-top: $global-margin;
}

.entry-terms {
	display: block;
}

// Multiple page post link styles
.page-links {
	@include pagination-container;
	margin-bottom: $global-margin;

	span {
		@include pagination-item-current;
		display: inline-block;
	}

	a {
		display: inline-block;
	}
}

