/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

// Site Title
.site-title {
	font-size: rem-calc(48);
}

// Site Description
.site-description {
	font-size: rem-calc(24);
	margin: 0 0 $global-margin 0;
}
