$social-colors: (
	codepen: #000,
	facebook: #3b5998,
	github: #4078c0,
	flickr: #ff0084,
	instagram: #c13584,
	linkedin: #0077b5,
	pinterest: #bd081c,
	google-plus: #dd4b39,
	reddit: #ff4500,
	skype: #00aff0,
	stumbleupon: #eb4924,
	tumblr: #35465c,
	twitter: #1da1f2,
	vimeo: #1ab7ea,
	wordpress: #21759b,
	youtube: #cd201f
);