/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/

audio,
canvas {
	display: inline-block;
}

figure,
picture,
img,
video {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
	margin-bottom: $global-margin;
	vertical-align: middle;

	p > & {
		margin-bottom: 0;
	}
}

.mejs-container {
	margin-bottom: $global-margin;
}

// Remove styling from smileys
.page-content,
.entry-content,
.comment-content {
	& .wp-smiley {
		margin: 0;
		padding: 0;
		border: none;
	}
}

// WordPress Captions
.wp-caption {
	position: relative;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		padding: rem-calc(10 5);
		font-size: $small-font-size;
		font-style: italic;
		line-height: 1.3;
	}
}



// Responsive embed
@include foundation-responsive-embed;
