//--------------------------------------------------------------
// No JavaScript
//--------------------------------------------------------------

/*
 * Add this class to an element to gracefully
 * fade the element in when the DOM has loaded.
 */
.not-ready {
		opacity: 1;
		transition: opacity 0.3s ease;
		visibility: visible;

	// Before the DOM has loaded hide this element.
	.no-js & {
		opacity: 0;
		visibility: hidden;
	}
}
