/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

// Foundation typography styles
@include foundation-typography-base;

pre {
	margin-bottom: $global-margin;
	padding: $global-padding;
	background: $light-gray;
	font-family: $code-font-family;
	font-weight: $code-font-weight;
	max-width: 100%;
	overflow: auto;
}

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	word-wrap: break-word;
}

// @include foundation-typography-helpers;
// @include foundation-text-alignment;
