.comments-area {
	margin: $global-margin 0;
}

.comments-number {
	margin: $double-margin 0;
}

.comment-list {
	@include disable-mouse-outline;
	margin: 0;
}

.comment {
	@include media-object-container;
	margin-bottom: 2rem;

	img {
		width: 100%;
	}

	.children {
		margin-top: 2rem;
	}
}

.comment-avatar {
	@include media-object-section;

	img {
		min-width: 50px;
	}
}

.comment-container {
	@include media-object-section;
	width: 100%;
	word-break: break-word;
}

.comment-header {
	font-size: $global-font-size;

	.comment-author {
		display: inline;
		font-size: inherit;
		font-style: normal;

		&:before {
			content: none;
		}
	}

	.bypostauthor & .comment-author,
	.bypostauthor & .comment-author a {
		padding: 3px;
		color: $white;
		background: $primary-color;
	}
}

.comment-content {
	@include clearfix;

	ul,
	ol {
		margin-bottom: $list-margin-bottom;

		ul,
		ol {
			margin-bottom: 0;
		}
	}
}

.comment-respond {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		width: 100%;
	}

	input[type="submit"] {
		margin-bottom: 0;
	}
}

.form-allowed-tags {
	padding: rem-calc(20);
	border: 1px solid $light-gray;
}

.comments-closed {
	margin: rem-calc(30 0 0);
	padding: rem-calc(20 0);
	border-top: 1px solid $light-gray;
	font-weight: bold;
}
