/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/

.icon {
	display: inline-block;
	fill: currentColor;
	position: relative;
	top: -0.0625rem;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
}