.menu-toggle {
	@include breakpoint(medium) {
		display: none;
	}

	button {
		text-align: center;
		width: 100%;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		padding: rem-calc(16);
		font-weight: bold;

		&:hover,
		&:focus {
			color: $primary-color;

			span {
				@include hamburger($primary-color, $height: 15px, $width: 18px, $weight: 3px);
			}
		}
	}

	span {
		@include hamburger($black, $height: 15px, $width: 18px, $weight: 3px);
	}
}
