.widget {
	margin: 0 0 $global-margin;

	// Remove bottom margin from last widget in a sidebar.
	&:last-of-type {
		margin-bottom: 0;
	}

	// Remove bottom margin from last item within a widget.
	& > :last-child {
		margin-bottom: 0;
	}

	select {
		max-width: 100%;
	}
}

.widget-title {
	font-size: rem-calc(map-deep-get($header-sizes, small, h4));

	@include breakpoint(medium) {
		font-size: rem-calc(map-deep-get($header-sizes, medium, h4));
	}
}

// Search widget
.search-form {
	height: ($input-font-size + ($form-spacing * $global-lineheight) - rem-calc(1));

	label {
		@include grid-col(7.5, 0);
		height: 100%;
	}

	.search-field {
		height: 100%;
		margin: 0;
	}

	.search-submit {
		@include grid-col(4.5, 0);
		height: 100%;
		margin: 0;
	}
}

// Navigation Widget
.widget.widget_nav_menu {
	.menu {
		li {
			display: block;

			a {
				display: inline;
				padding: 0;
			}
		}
	}
}

// Calendar widget
.widget_calendar {
	table {
		width: 100%;
	}

	#next {
		text-align: right;
	}
}