/*--------------------------------------------------------------
## Menu Subsidiary
--------------------------------------------------------------*/

.menu-subsidiary {
	margin-bottom: $global-margin;

	ul {
		display: table;
		margin: 0 auto;
	}
}
