/*--------------------------------------------------------------
## Menu Social
--------------------------------------------------------------*/

.menu-social {
	ul {
		margin: 0;
		list-style: none;
	}

	ul li {
		display: inline-block;
		margin: rem-calc(0 3 6);
	}

	.icon {
		width: rem-calc(28);
		height: rem-calc(28);
	}

	a:hover .icon {
		opacity: 0.8;
	}

	// Loop through each social icon
	@each $social-color, $color in $social-colors {

		a .icon-#{$social-color} {
			color: $color;
		}
	}
}
